{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <h2>Recent blog posts:</h2>
  {{ range (where .Site.RegularPages "Type" "blog").ByPublishDate.Reverse }}
  <article class="blog-summary">
    <h3>{{ .Title }}</h3>
    <time {{ printf "datetime=%q" (.PublishDate.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{ .PublishDate.Format "Jan 2, 2006" }}
    </time>

    {{ .Summary | safeHTML }}

    <a class="read-more" href="{{ .RelPermalink }}">Read more</a>
  </article>
  {{ end }}

  {{ with .Site.GetPage "/tags" }}
  <a id="tag-index" href="{{ .RelPermalink }}">Index of tags</a>
  {{ end }}

{{ end }}
