{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>

    <time {{ printf "datetime=%q" (.PublishDate.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{ .PublishDate.Format "Jan 2, 2006" }}
    </time>

    <hr>

    {{ .Content }}
  </article>

  {{ with .GetTerms "tags" }}
  <div id="tags">
    Tags:
    <ul>
      {{ range . }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with .Site.RegularPages.Related . }}
  <div id="related-posts">
    <hr>
    <h2>Related posts:</h2>
    <ul>
    {{ range first 3 . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </div>
  {{ end }}
{{ end }}
