<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  {{ partial "head.html" . }}

  <body>

    {{ block "body" . }}
    {{ partial "navbar.html" . }}

    <main class="container">
      {{ block "main" . }}
      <h1>{{ .Title }}</h1>

      {{ .Content }}
      {{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ end }}

  </body>
</html>
