<footer>
  <ul>
    <li><a href="https://gitlab.com/kusma"><i class="fa fa-gitlab fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/kusma"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://twitter.com/kusmabite"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
    <li><a rel="me" href="https://floss.social/@kusma"><i class="fa fa-mastodon fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://matrix.to/#/@kusma:matrix.org"><i class="fa fa-matrix-org fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://www.youtube.com/kusmabite"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://tube.tchncs.de/a/kusma/"><i class="fa fa-peertube fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="https://www.linkedin.com/in/erik-faye-lund-7a87112/"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></li>
    <li><a href="{{ ((.Site.GetPage "/blog/_index.md").OutputFormats.Get "rss").RelPermalink }}"><i class="fa fa-rss fa-3x" aria-hidden="true"></i></a></li>
  </ul>
</footer>
