<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .IsHome -}}
    {{- range (.GetPage "/blog/_index.md").AlternativeOutputFormats -}}
      {{ printf `<link type="%s" rel="%s" href="%s" title="%s">` .MediaType.Type .Rel .RelPermalink $.Site.Title | safeHTML }}
    {{- end -}}
  {{- else -}}
    {{- range .AlternativeOutputFormats -}}
      {{ printf `<link type="%s" rel="%s" href="%s" title="%s">` .MediaType.Type .Rel .RelPermalink $.Site.Title | safeHTML }}
    {{- end -}}
  {{- end }}

  <link rel="icon" href="{{ "/favicon.ico" | relURL }}">
  <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
  {{ hugo.Generator }}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" integrity="sha384-M86HUGbBFILBBZ9ykMAbT3nVb0+2C7yZlF8X2CiKNpDOQjKroMJqIeGZ/Le8N2Qp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ (resources.Get "css/style.scss" | resources.ToCSS).RelPermalink }}">
  <link rel="stylesheet" media="screen" href="{{ (resources.Get "css/screen.scss" | resources.ToCSS).RelPermalink }}">
  <link rel="stylesheet" media="print" href="{{ (resources.Get "css/print.scss" | resources.ToCSS).RelPermalink }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

  {{ with .Params.canonical_url }}
  <link rel="canonical" href="{{ . }}">
  {{ end }}
  <link rel="pgpkey" type="application/pgp-keys" href="{{ "/pgp-public.asc" | relURL }}">

  {{- partial "seo.html" . -}}
</head>
