<nav id="topnav">
  <div class="container">
    <a id="title" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li>
        <a {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}class="active" {{end}} href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</nav>
