<meta property="og:title" content="{{ .Title }}">
<meta name="author" content="{{ .Site.Params.Author.name }}">
{{ with .Site.LanguageCode -}}
{{- $parts := split . "-" -}}
<meta property="og:locale" content="{{ index $parts 0 }}_{{ upper (index $parts 1) }}">
{{- end }}
{{ if and (.IsPage) (eq .Section "blog") -}}
<meta name="description" {{ printf "content=%q" (replace (.Summary | plainify) "\n" " ") | safeHTMLAttr }}>
<meta property="og:description" {{ printf "content=%q" (replace (.Summary | plainify) "\n" " ") | safeHTMLAttr }}>
{{- else -}}
<meta name="description" {{ printf "content=%q" .Site.Params.description | safeHTMLAttr }}>
<meta property="og:description" {{ printf "content=%q" .Site.Params.description | safeHTMLAttr }}>
{{- end }}
{{ with .Params.canonical_url }}
<link rel="canonical" href="{{ . }}">
<meta property="og:url" content="{{ . }}">
{{ else }}
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ if and (.IsPage) (eq .Section "blog") -}}
<meta property="og:type" content="article">
<meta property="article:published_time" {{ printf "content=%q" (.PublishDate.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
{{ end }}

<script type="application/ld+json">
{{ partial "schema.json" . | safeJS -}}
</script>
