<figure>
  {{- $src := .Get "src" -}}
  {{- with .Page.Resources.GetMatch $src -}}
    {{- $src = .Permalink -}}
  {{- end }}
  <img src="{{ $src }}" alt="{{ .Get "title" }}" title="{{ .Get "title" }}">
  <figcaption>{{ .Get "title" }}</figcaption>
</figure>
